@font-face {
    font-family: "robot";
    src: url('Roboto-medium.ttf');
}

body {
    display: block;
    background-color:#c5e4e7; 
    width: 100%;
    height: 100%;
    margin:0;
    font-family:'robot';
    font-weight: 400;
    letter-spacing:0.7px ;
    font-size: 15px;
    word-spacing: 2mm;
}

h1 {
    text-align: center;
} 

.container {
    background-color:white;
    width:60rem;
    height:484px;
    border-radius:25px;
    display: flex;
    margin: auto;
    margin-top: 100px;
}

.cont-clclt,
.cont-rslt{
    width: 50%;
    height: 85%;
    margin: auto;
}

.cont-clclt {
    background-color: none;
    margin-left:35px;
    margin-right: 25px;
}

.cont-clclt p   {
    color: #5d6b6c;
    margin-bottom: 5px;
    margin-left:3px;
}


#bill,
#num-people {
    width: 98%;
    height:45px;
    border:solid white;
    border-radius: 7px;
    background-color: #f3f8fb;
    text-align: right;
    color:#c5e4e7;
    outline: 0;
    margin-bottom: 30px;
    font-size: 24px;
}

#bill::marker {
    content: url(images/icon-dollar.svg);
}

#bill:focus,
#num-people {
    border: 3px solid #5faba1;
    opacity: 0.8;
}
   
.cont-tip {
    width: 100%;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 31% 31% 31%;
    justify-content: center;
    
}

.tip {
    height:55px;
    color:white;
    background-color:#00474b;
    border: 0;
    border-radius: 7px;
    font-size: 19px;
    font-weight:bold;
    text-align: center;
}


.active{
    background-color: #9fe8df;
    color:#0a5251;
}

.cont-rslt {
    background-color:#00474b;
    border-radius:20px;
    margin-right:40px;
    margin-left:25px;
}

.grid-rslt {
    display:grid;
    grid-template-columns: auto auto;
    margin:40px 50px;
}

#custom {
    color: #00474b;
    background-color: #f3f8fb;
}

.rslt-amout,
.rslt-total {
    color:white;
    font-size: 16px;
}

.rslt-amout > span,
.rslt-total > span {
    color:#73a3a7;
    display: block;
    font-size: 13px;
}

.rslt-price {
    font-family: 'Source Code Pro', monospace;
    text-align: end;
    font-size: 40px;
    margin:0;
    margin-bottom: 55px;
    color: #26c4ab;
}


.rslt-reset {
    width: 88%;
    height:50px;
    background-color: #9fe8df;
    display:flex;
    font-size: 19px;
    font-weight: 600;
    margin-left:auto;
    margin-right: auto;
    margin-top: 80px;
    border: none;
    border-radius: 7px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

